*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}
.navbar .logo svg{
    font-size: 70px;
    color:#6E07F3;
    margin-left: 1rem;
}

.connect-nav{
    margin: 18px 0px 10px 2px;
    padding-right: 3px 0px 6px 0px;
    width: 140px;
}
.connect-nav a{
    text-decoration: none;
    font-size:18px;
    border: 2px solid #6E07F3;
    border-radius: 20px;
    padding: 10px 19px
}
.connect-nav :hover{
    background-color: #6E07F3;
    color: #FFFFFF;
    transition: background-color 0.9s ease-out;
}

.main-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 700px;
    text-align: center;
}

.main-intro h1{
    font-size:50px;
    margin-bottom: 9px;
    padding-bottom: 12px;
    font-weight:bold
}

.main-intro p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    padding-bottom:12px;
    animation-delay: 1s;
}

.profile{
    width: 210px;
    margin: auto;
    padding-bottom: 12px;
}

.main-intro  .center-pro{
    align-items: center;
    width: 860px;
    margin-left: 13rem;
    padding: 20px 3px;
    margin-bottom: -14px;
}

.sub-intro{
    height: 500px;
    width: 100%;
    background-color: #6E07F3;
    color:#FFFFFF;
    text-align: center;
}
.sub-div{
    text-align: center;
    width: 50%;
    margin: auto;
}

.sub-intro h2{
    margin-top: 15px;
    padding: 9rem 0rem 2rem;
    font-size:30px;
    font-weight:bold;
}

.sub-intro p{
    align-self: center;
    font-size: 20px;
}

.skill-intro{
    display: flex;
    height: 600px;
    width: 100%;
    margin: 5px;
    padding:3px;
    justify-content: center;
}

.skill-child{
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color: #FFFFFF;
    justify-content: center;
    margin-top: -90px;
    width: 70%;
}

.skill-intro svg{
    height:70px;
    width: 70px;
    background-color: #5BE9B9;
    border-radius: 50%;
    padding:1rem
}

.backend-tech{
    width: 50%;
    padding: 3rem 1rem 1rem 1rem;
    border: 0.1px solid #E6ECF8;
    text-align: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.backend-tech h2{
    font-size:23px;
    font-weight: bold;
    margin-top:20px;
    padding: 2px;
}

.backend-tech p{
    font-size:20px;
    padding: 12px 2px
}

.backend-tech .para{
    color:#6E07F3
}

.my-recent-work{
    height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
}
.tag-line{
    margin-top:40px;
    padding: 12px 2px;
}
.tag-line h2{
    font-size:30px;
    font-weight: bold;
    padding: 26px 0px;
    margin-top:23px
}

.tag-line p{
    font-size:20px;
    padding: 12px 2px;
}

.my-recent-work .project-card{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 12px 4px;
    width: 95%;
}

.project-card .project{
    /* flex-wrap: wrap; */
    background-image: url(https://mattfarley.ca/img/projects/burkettandco.png);
    height: 200px;
    width: 300px;
    background-size: cover;
    padding: 12px 4px;
    margin-left: 35px;
    margin-bottom: 12px;
    border-radius: 12px;
}
.project h1{
    font-size:23px;
}

.project p{
    font-size:18px;
    max-width: 80%;
    margin: 12px 3px 13px 18px;
    padding: 12px 3px 7px 7px;
}

.project span{
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}
.project-details{
    color: #FFFFFF;
    margin-top: 15px;
}

.project:hover {
    background-image: none;
    background-color: #141C3A;
}

.project span:hover{
    opacity: 1;
    cursor: pointer;
}

.learning-project{
    width: 100%;
    text-align: center;
    margin-top:20px;
    /* height: 100vh; */
}

.learning-project .head-banner{
    background-color: #6E07F3;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.learning-project .head-banner h1{
    font-size:40px;
    font-weight: bold;
    padding-bottom: 23px;
}

.learning-project .head-banner p{
    font-size:23px;
    font-weight: 300;
    padding-bottom: 23px;
}

.learning-project-card{
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    height: 300px;
    max-width: 95%;
}

.header-project{
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    text-align: center;
    height: 250px;
    margin-top: -70px;
    background-color: #FFFFFF;
    margin-left: 30px;
}
.header-project img{
    margin-top: 1px;
    height: 80px;
    width: 80px;
}
.header-project p{
    font-size:18px;
    margin-bottom: 1rem;
}

.project-link{
    display: flex;
    justify-content: center;
}

.project-link .direct-arrow{
    padding-left: 2px;
    margin-right: 8px;
}

.collaboration{
    text-align: center;
    padding: 20px 12px;
}

.collaboration h2{
    font-size:24px;
    font-weight: bold;
    margin-bottom:15px;
    padding:5px 2px
}

.collaboration p{
    font-size:18px;
    font-weight: 300;
}

.collaboration ul{
    display:flex;
    justify-content:center;
    background-color: #FFFFFF;
    width: 18%;
    margin: 15px auto;
    border-radius: 15px;
    color: #6E07F3;
    border: 1px solid #6E07F3;
    transition: background-color 0.9s ease-in-out;
}

.collaboration ul li{
    padding: 6px 3px;
    margin-left: 4px;
    list-style: none;
    text-align: center;
    margin-top:8px;
    font-size: 18px;
}

.collaboration ul li img{
    width:30px;
    height:30px;
    color: #6E07F3;
}

.collaboration ul:hover{
    background-color: #6E07F3;
    color:white;
    cursor: pointer;
}

.start-project-card{
    height: 150px;
    width: 94%;
    background-color: #141C3A;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25px;
    border-radius: 15px;
    margin-bottom: -70px;
    position: relative;
}

.start-project-card h2{
    font-size:30px;
    font-weight: bold;
    padding:4px
}

.start-project-card p{
    font-size:18px;
    font-weight: 300;
}

.start-project-card ul{
    display: flex;
    list-style: none;
    border: 2px solid #5BE9B9;
    border-radius: 15px;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;

}

.start-project-card ul li{
    margin-left:7px;
    margin-right: 3px;
    margin-top: 4px;
    padding: 7px 3px;
    text-align: center
}

.start-project-card ul li img{
    height: 30px;
    width: 30px;
    list-style: none;
}

.start-project-card ul:hover{
    background-color: #5BE9B9;
    cursor: pointer;
}

.footer{
    background-color: #6E07F3;
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 1;
}
.footer-title svg{
    font-size: 90px;
    color:#FFFFFF;
    margin-left:10rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem;
}

.footer-title p{
    text-align: center;
    font-size:23px;
    font-weight: 300;
    padding: 0.5rem 0.5rem;
    width: 80%;
    margin-left: 2rem;
}

.footer-title ul{
    display: flex;
    list-style: none;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 70px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.footer-title ul li{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-left: 10px;
    transition: background-color 0.5s ease-in-out;

}
.footer-title ul li img{
    height:45px;
    width: 45px;
    padding: 0.5rem;
}
.footer-title ul li:hover{
    background-color:#FFFFFF;
    cursor: pointer;
}

#last-para-footer{
    font-size:18px;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.8s linear forwards
}

.profile-ani-x {
    transform: translateX(30px);
    animation: profile 0.5s alternate infinite;
}

.profile-ani-neg {
    transform: translateX(-30px);
    animation: profile-neg 1s alternate infinite;
}

@keyframes moveup {

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes profile{
    100%{
        transform: translateX(0px)
    }
}

@keyframes profile-neg{
    100%{
        transform: translateX(0px)
    }
}